.App-header {
  text-align: center;
  height: 50%;
  font-size: 2em;
  padding: 20px;
}

.info-height {
  height: 60px;
}

.main-container {
  background-color: rgba(255,255,255,0.05);
  border-radius: 25px;
  padding: 10px;
}

.main-title {
  color: #17C3B2;
}

.player-button {
  margin: 10px;
  color: aliceblue;
  background-color: #227C9D;
  font-size: 20px;
  width: 300px;
}

.ready-button{
  margin: 10px;
  color: aliceblue;
  background-color: #FE6D73;
  font-size: 20px;
}

.faces-info {
  margin-right: 10px;
}

.select {
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 60px;
  height: 50px;
}

.select-name {
  width: 260px;
}
/*
@media screen and (min-width: 360px) {
  .faces-info {font-size: calc(1.325rem + .3vw);}
  .dice-info {font-size: calc(1.325rem + .3vw);}
  .info-height{height: 15vh;}
  .player-button {
    font-size: calc(1.325rem + .2vw);
    width: calc(50% - 2vw);
  }
}*/

