.dice-box{
  height: 60%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.dice-box-item {
  height: 60%;
  padding: 20px;
  width: 30vh;
  display: flex;
  align-content: stretch;
  flex-direction: column;
  align-items: center;
}

.dice-box-image{
  height: 80px;
  width: 80px;
  background-size: cover;
  animation-name: dice;
  animation-duration: 9s;
}

/*
@keyframes dice {
  0%   {background-image: url('../components/container/img-2.png')}
  25%  {background-image: url('../components/container/img-2.png')}
  50%  {background-image: url('../components/container/img-2.png')}
  100% {background-image: url('../components/container/img-2.png')}
}*/

.info{
  font-size: 2em;
}

.dice-box-result{
  font-size: 3em;
}

.turn{
  text-align: end;
  font-size: 1.7rem;
  padding-bottom: 2em;
}

@media (prefers-reduced-motion: no-preference) {
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
