.last-results {
  height: 30%;
  background-color: #17C3B2;
  padding: 20px;
}

.last-results-info {
  display: flex;
}

.last-results-title {
  font-size: 2em;
}

.last-results-table {
  background-color: rgba(255, 255, 255, 0.5);
  width: 40vh;
}

.table tr{
  border: grey;
  border-style: solid;
  margin: 0;
}

@media (min-width: 360px) {
  .last-results-info { flex-direction: column;}
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
